---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Success" description='Success' />
	</head>
	<body>
        <Header title={SITE_TITLE}/>
        <h1>Form submitted successfully!</h1>
        <h3>I hope to get back to you soon!</h3>
		<Footer />
	</body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	
</style>