---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="img">
		<img src="logo-transparent.png" alt="logo">
	</div>

	<div class="blankspace">
		<h1></h1>
	</div>

	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/suggest">Suggest</HeaderLink>
		<HeaderLink href="/contact">Contact</HeaderLink>
		<HeaderLink href="https://youtube.com/@TheExtraBite" target="_blank">YouTube</HeaderLink>
	</nav>
</header>
<style>
	header {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
	}
	
	.img {
		grid-column: 1 / 2;
	}

	.blankspace {
		grid-column: 2 / 3;
	}

	nav {
		grid-column: 3 / 4;
		font-size: 1.5rem;
	}

	.img, nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	img {
		width: 75%;
		height: auto;
	}

	@media screen and (max-width: 1000px) {
		.img {
			grid-column: 1 / 4;
		}

		.blankspace {
			visibility: hidden;
		}
		
		nav {
			grid-column: 1 / 4;
		}
	}
</style>
